header {
  border-bottom: 1px solid #dadada;

  .logo{
    cursor: pointer;
    margin-right: 15px;
  }
}

.userNav {
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.favoriteIcon {
 
}

